<section class="shipping_area mb-50">
    <div class="container">
        <div class=" row">
            <div class="col-12">
                <div class="shipping_inner">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="~/img/about/shipping1.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h2>خرید رایگان</h2>
                            <p>خرید رایگان به مناسبت نوروز</p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="~/img/about/shipping2.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h2>پشتیبانی 24 ساعته</h2>
                            <p>در هر ساعت از شبانه روز</p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="~/img/about/shipping3.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h2>ضمانت برگشت پول</h2>
                            <p>تا 1 ماه پس از خرید</p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="~/img/about/shipping4.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h2>پرداخت امن</h2>
                            <p>با سیستم های امن پرداخت</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
