@inject IResourceManager _resourceManager
@{
    ViewData["Title"] = "درباره ما";
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--about section area -->
<div class="about_section mt-32">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="about_thumb">
                    <img src="img/about/about1.jpg" alt="">
                </div>

                <div class="about_content">
                    <h1>به فروشگاه ما خوش آمدید!</h1>
                    <p>هدف ما ارائه بهترین خدمات بصورت آنلاین و ارسال با ضمانت و ارائه بهترین کیفیت و بهترین قیمت است!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--about section end-->
<!--chose us area start-->
<div class="choseus_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="chose_title">
                    <h1>چرا ما را انتخاب میکنند؟</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="img/about/About_icon1.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>طراحی خلاقانه</h3>
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="img/about/About_icon2.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>ضمانت برگشت پول</h3>
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="img/about/About_icon3.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>پشتیبانی 24 ساعته آنلاین</h3>
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--chose us area end-->
<!--services img area-->
<div class="about_gallery_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    <div class="gallery_thumb">
                        <img src="img/service/services2.jpg" alt="">
                    </div>
                    <div class="about_gallery_content">
                        <h3>ما چه کاری انجام می دهیم؟</h3>
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    <div class="gallery_thumb">
                        <img src="img/service/services1.jpg" alt="">
                    </div>
                    <div class="about_gallery_content">
                        <h3>فروش لوازم آرایشی</h3>
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    <div class="gallery_thumb">
                        <img src="img/service/services3.jpg" alt="">
                    </div>
                    <div class="about_gallery_content">
                        <h3>ثبت خاطرات شما</h3>
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--services img end-->
<!--testimonials section start-->
<div class="testimonial_are">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial_titile">
                    <h1>مشتریان ما چه می گویند؟</h1>
                </div>
            </div>
            <div class="testimonial_active owl-carousel">
                <div class="col-12">
                    <div class="single_testimonial">
                        <p>هدف ما ارائه بهترین خدمات بصورت آنلاین و ارسال با ضمانت و ارائه بهترین کیفیت و بهترین قیمت است!</p>
                        <img src="img/about/testimonial4.jpg" alt="">
                        <span class="name">فاطمه اسدی</span>
                        <span class="job_title">سئو کار  </span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single_testimonial">
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>
                        <img src="img/about/testimonial5.jpg" alt="">
                        <span class="name">کتایون ریاحی</span>
                        <span class="job_title">سئو کار</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single_testimonial">
                        <p>لورم ايپسوم متن ساختگي با توليد سادگي نامفهوم از صنعت چاپ، و با                 استفاده از طراحان گرافيک است</p>
                        <img src="img/about/testimonial6.png" alt="">
                        <span class="name">محسن کیایی</span>
                        <span class="job_title">سئو کار</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--testimonials section end-->
