<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        <li><a href="/blog">وبلاگ</a></li>
                        <li>404</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <h1>404</h1>
                    <h2>متاسفیم! صفحه مورد نظر یافت نشد</h2>
                    <p>
                        متأسفیم اما صفحه مورد نظر شما وجود ندارد
                        <br>حذف شده ، نام تغییر کرده یا به طور موقت در دسترس نیست.
                    </p>
                    <form action="/blog">
                        <input id="key" name="Key" placeholder="جستجو..." type="text">
                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                    <a href="/Blog"> بازگشت به وبلاگ </a>
                </div>
            </div>
        </div>
    </div>
</div>