@using System.Security.Claims

<div class="header_top top_two color_scheme_2">
    <div class="container">
        <div class="top_inner">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="follow_us">
                        <label>دنبال کردن:</label>
                        <ul class="follow_link">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="top_right text-right">
                        <ul>
                            @{
                                System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="top_links">
                                    <a href="#"><i class="ion-android-person"></i>&nbsp; @User.Identity.Name <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_links">
                                        <li><a href="~/panel/profile/index"  ><i class="fa fa-user-circle"></i>&nbsp;حساب کاربری </a></li>
                                        <li><a href="~/cart"><i class="fa fa-shopping-basket"></i>&nbsp;سبد خرید</a></li>
                                        <li><a href="~/panel/profile/orders"><i class="fa fa-first-order"></i>&nbsp;سفارشات</a></li>
                                        @if (User.HasClaim(ClaimTypes.Role, "Admin"))
                                        {
                                            <li><a href="~/admin/home/index" ><i class="fa fa-tasks"></i>&nbsp;پنل مدیریت </a></li>

                                        }
                                        <li><a asp-action="LogOut" asp-controller="Account"><i class="fa fa-sign-out"></i>&nbsp;خروج</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="language">
                                    <a href="#"><i class="ion-android-person"></i>&nbsp;ورود / ثبت نام<i class="ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a asp-action="Login" asp-controller="Account"><i class="fa fa-sign-in"></i>&nbsp; ورود</a></li>
                                        <li><a asp-action="Register" asp-controller="Account"><i class="fa fa-registered"></i>&nbsp;ثبت نام</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>