<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <h1>404</h1>
                    <h2>متاسفیم! صفحه مورد نظر یافت نشد</h2>
                    <p>
                        متأسفیم اما صفحه مورد نظر شما وجود ندارد
                        <br>حذف شده ، نام تغییر کرده یا به طور موقت در دسترس نیست.
                    </p>
                    <form action="#">
                        <input placeholder="جستجو..." type="text">
                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                    <a href="/"> بازگشت به صفحه اصلی </a>
                </div>
            </div>
        </div>
    </div>
</div>