<div class="col-sm-12 col-md-3 col-lg-3">
    <!-- Nav tabs -->
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a id="indexUser" asp-area="Panel" asp-controller="Profile"class="nav-link active">داشبورد</a></li>
            <li><a id="userInfo" asp-area="Panel" asp-controller="Profile" asp-action="UserInfo" class="nav-link ">جزئیات حساب</a></li>
            <li><a id="userAddress" asp-area="Panel" asp-controller="Profile" asp-action="Addresses" class="nav-link ">آدرس</a></li>
        </ul>
    </div>
</div>
