<aside class="sidebar_widget">
    <div class="widget_inner">
        <div class="widget_list widget_filter">
            <h2>فیلتر کردن بر اساس قیمت</h2>
            <form action="#">
                <div id="slider-range"></div>
                <button type="submit">فیلتر</button>
                <input type="text" name="text" id="amount" />

            </form>
        </div>
        <div class="widget_list widget_categories">
            <h2>فیلتر بر اساس رنگ</h2>
            <span class="badge bg-primary">Primary</span>


        </div>
        <div class="widget_list widget_categories">
            <h2>دسته بندی</h2>
            <ul>
                <li>
                    <input type="checkbox">
                    <a href="#"> دسته بندی (6)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#"> دسته بندی (10)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">دسته بندی (4)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#"> دسته بندی (10)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">دسته بندی (8)</a>
                    <span class="checkmark"></span>
                </li>

            </ul>
        </div>

        <div class="widget_list widget_categories">
            <h2>کارخانه</h2>
            <ul>
                <li>
                    <input type="checkbox">
                    <a href="#"> قطعات موتور(6)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">لوازم جانبی (10)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">  قطعات ژاپنی (4)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#"> موتور سیکلت (10)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">  کف ماشین (8)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">  تراکتور رومانی (7)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#"> موتور برقی (6)</a>
                    <span class="checkmark"></span>
                </li>
            </ul>
        </div>

    </div>
    <div class="shop_sidebar_banner">
        <a href="#"><img src="assets/img/bg/banner9.jpg" alt=""></a>
    </div>
</aside>
