@inject IResourceManager _resourceManager
@{
    ViewData["Title"] = "فروشگاه من";
}
<div class="text-center container">
    <h4>شما هم می توانید فروشگاه داشته باشید</h4>
    <h5>قبل از ثبت یا مدیریت فروشگاه خود باید وارد سایت شوید</h5>
    <div class="row">
        <div class="col-6">
            <div class="alert alert-warning">
                حساب کاربری در سایت ثبت نکرده ام
                <br />  <br />
                <a class="btn btn-warning" href="/Stores/register">ثبت نام </a>
            </div>

        </div>
        <div class="col-6">
            <div class="alert alert-info">
                حساب کاربری در سایت دارم
                <br />  <br />
                <a class="btn btn-info" href="/login">ورود </a>
            </div>
        </div>
    </div>
    <br /><br />
    <h4>  ثبت فروشگاه در سایت ما کاملا رایگان میباشد.</h4>
    <p>اگر کسب و کاری دارید یا خداماتی ارائه میدهید که نیاز به دیده شدن در فضای کسب و کار مجازی دارد، همین الان اقدام کنید.</p>
    <br /><br />
</div>


